/*-- scss:rules --*/
#title-slide {

  .subtitle {
    font-size: 48px;
  }

  .author {
    font-size: 25px;
    font-style: normal;
  }
  
  .institute {
      font-size: 30px !important;
  }

  .date {
    font-size: 25px;
  }
}

em {
  font-style:unset;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 200%;
}
